body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  text-align: center;
  color: #fff;
}

.hotel-name {
  font-size: 36px;
}

.login-form {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.radio-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

input[type="radio"] {
  margin: 0 5px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background: #27ae60;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background: #1d8348;
}